#container {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  margin-top: 3px;
  position: relative;
  overflow: hidden;
}

#ON,
#OFF {
  width: 45px;
  height: 45px;
  border: none;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

#ON {
  background-color: darkgreen;
  color: lightgreen;
  left: 2px;
  top: 2px;
  transform: translateX(0);
}

#OFF {
  background-color: darkred;
  color: lightcoral;
  right: 2px;
  top: 2px;
  transform: translateX(0);
}
