h1 {
  font-size: 4rem;
  font-family: "Sacramento", cursive;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
}

body {
  background-image: url("https://images.unsplash.com/photo-1614850523296-d8c1af93d400?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bGlnaHQlMjBjb2xvdXJ8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}
#container {
  width: 500px;
  height: 100px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: rgba(240, 235, 235, 0.575);
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 5rem;
  font-family: "Sacramento", cursive;
}
